{% extends "cws2/base.jinja" %}
{% from "cws2/macros/group.jinja" import group_icon %}

{% block page_content %}
<div class="link-groups">
    {% for group in groups %}
        <div class="link-groups__group" id="group:{{ group.slug }}">
            <h2 class="link-groups__group-title">
                {{ group_icon(group) }}
                {{ group.name }}
            </h2>
            <div class="link-groups__links">
                {% for board in group.boards.all() %}
                    <a class="link-groups__link" href="{{ board.get_absolute_url() }}">
                        <span class="--subtle"><i class="bx bx-message-alt"></i></span>
                        {{ board.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock page_content %}
