{% extends "cws2/base.jinja" %}

{% block page_actions %}
{% if request.user.is_authenticated and language.check_user_permission(request.user, "write") %}
<a href="{{ url('word.new', user=language.created_by.username, language=language.slug) }}" class="button button--accent">
    <i class="bx bx-message-alt-add"></i>
    {% trans %}New word{% endtrans %}
</a>
{% endif %}
{% endblock page_actions %}

{% block page_content %}
    <ul class="flex-list">
        <li class="flex-list__row flex-list__row--header">
            <span class="flex-list__column" style="flex-basis:34%">Headword</span>
            <span class="flex-list__column" style="flex-basis:66%">...</span>
        </li>
        {% for word in words %}
            <li class="flex-list__row">
                <span class="flex-list__column" style="flex-basis:34%">
                    <a href="{{ word.get_absolute_url() }}">{{ word.headword }}</a>
                </span>
                <span class="flex-list__column" style="flex-basis:66%">...</span>
            </li>
        {% endfor %}
    </ul>
{% endblock page_content %}
