@import "globals";

@mixin light {
  --body-background: #{$lightest-grey};
  --page-background: #{$off-white};
  --page-border: #{lighten($light-grey, 5%)};
  --page-border-subtle: #{$lighter-grey};

  --body-text: black;
  --body-text-light: #{$darkest-grey};
  --body-text-lighter: #{$darker-grey};
  --body-text-lightest: #{$dark-grey};
  --body-text-extra-lightest: #{$grey};

  --input-background: var(--page-background);

  --chevron-url: url('../images/icons/chevron-down-solid.svg');

  --accent: #{$grey};
  --accent-bold: #{darken($grey, 5%)};
  --accent-contrast: #{$darker-grey};
  --accent-contrast-subtle: #{$dark-grey};

  --green: #{$green};
  --green-bold: #{darken($green, 5%)};
  --green-contrast: white;
  --green-contrast-subtle: #{lighten($green, 40%)};
  --green-block-background: #{lighten($green, 50%)};
  --green-block-text: #{darken($green, 30%)};

  --yellow: #{$yellow};
  --yellow-bold: #{darken($yellow, 5%)};
  --yellow-contrast: #{darken($yellow, 25%)};
  --yellow-contrast-subtle: #{darken($yellow, 20%)};
  --yellow-block-background: #{lighten($yellow, 50%)};
  --yellow-block-text: #{darken($yellow, 30%)};

  --blue: #{$blue};
  --blue-bold: #{darken($blue, 5%)};
  --blue-contrast: white;
  --blue-contrast-subtle: #{lighten($blue, 40%)};
  --blue-block-background: #{lighten($blue, 40%)};
  --blue-block-text: #{darken($blue, 30%)};

  --orange: #{$orange};
  --orange-bold: #{darken($orange, 5%)};
  --orange-contrast: white;
  --orange-contrast-subtle: #{lighten($orange, 40%)};

  --purple: #{$purple};
  --purple-bold: #{darken($purple, 5%)};
  --purple-contrast: white;
  --purple-contrast-subtle: #{lighten($purple, 40%)};

  --red: #{$red};
  --red-subtle: #{lighten($red, 10%)};
  --red-contrast: white;
  --red-contrast-subtle: #{lighten($red, 40%)};
  --red-block-background: #{lighten($red, 40%)};
  --red-block-text: #{darken($red, 30%)};
}

@mixin dark {
  --body-background: #{$slate};
  --page-background: #{$light-slate};
  --page-border: #{$lighter-slate};
  --page-border-subtle: #{$lighter-slate};

  --body-text: white;
  --body-text-light: #{$lightest-grey};
  --body-text-lighter: #{$lighter-grey};
  --body-text-lightest: #{$light-grey};
  --body-text-extra-lightest: #{$grey};

  --input-background: var(--body-background);

  --chevron-url: url('../images/icons/chevron-down-solid-white.svg');

  --accent: #{$grey};
  --accent-bold: #{darken($grey, 5%)};
  --accent-contrast: #{$darker-grey};
  --accent-contrast-subtle: #{$dark-grey};

  --green: #{$green};
  --green-bold: #{darken($green, 5%)};
  --green-contrast: white;
  --green-contrast-subtle: #{lighten($green, 40%)};
  --green-block-background: #{darken($green, 10%)};
  --green-block-text: white;

  --yellow: #{$yellow};
  --yellow-bold: #{darken($yellow, 5%)};
  --yellow-contrast: #{darken($yellow, 25%)};
  --yellow-contrast-subtle: #{darken($yellow, 20%)};
  --yellow-block-background: #{darken($yellow, 10%)};
  --yellow-block-text: white;

  --blue: #{$blue};
  --blue-bold: #{darken($blue, 5%)};
  --blue-contrast: white;
  --blue-contrast-subtle: #{lighten($blue, 40%)};
  --blue-block-background: #{darken($blue, 15%)};
  --blue-block-text: white;

  --orange: #{$orange};
  --orange-bold: #{darken($orange, 5%)};
  --orange-contrast: white;
  --orange-contrast-subtle: #{lighten($orange, 40%)};

  --purple: #{$purple};
  --purple-bold: #{darken($purple, 5%)};
  --purple-contrast: white;
  --purple-contrast-subtle: #{lighten($purple, 40%)};

  --red: #{$red};
  --red-subtle: #{lighten($red, 10%)};
  --red-contrast: white;
  --red-contrast-subtle: #{lighten($red, 40%)};
  --red-block-background: #{darken($red, 20%)};
  --red-block-text: white;
}

body[data-theme=light],
body:not([data-theme]) {
  @include light;
}

body[data-theme=dark] {
  @include dark;
}

@media(prefers-color-scheme: dark) {
  body:not([data-theme]) {
    @include dark;
  }
}

* {
  transition: background-color .1s linear, border-color .1s linear;
}

body {
  &.--green {
    --accent: var(--green);
    --accent-bold: var(--green-bold);
    --accent-contrast: var(--green-contrast);
    --accent-contrast-subtle: var(--green-contrast-subtle);
  }

  &.--yellow {
    --accent: var(--yellow);
    --accent-bold: var(--yellow-bold);
    --accent-contrast: var(--yellow-contrast);
    --accent-contrast-subtle: var(--yellow-contrast-subtle);
  }

  &.--blue {
    --accent: var(--blue);
    --accent-bold: var(--blue-bold);
    --accent-contrast: var(--blue-contrast);
    --accent-contrast-subtle: var(--blue-contrast-subtle);
  }

  &.--orange {
    --accent: var(--orange);
    --accent-bold: var(--orange-bold);
    --accent-contrast: var(--orange-contrast);
    --accent-contrast-subtle: var(--orange-contrast-subtle);
  }

  &.--purple {
    --accent: var(--purple);
    --accent-bold: var(--purple-bold);
    --accent-contrast: var(--purple-contrast);
    --accent-contrast-subtle: var(--purple-contrast-subtle);
  }
}