@import "../globals"

body > header
    background: var(--page-colour)
    position: sticky
    top: 0
    color: white
    padding: 1.6rem $gutter-margin

    @include desktop
        padding: 2rem $gutter-margin

    nav, .brand
        max-width: $max-width
        margin: 0 auto

    .brand
        display: flex
        flex-flow: row nowrap
        align-items: center
        column-gap: 1.6rem

        > a.brand-link
            color: var(--page-text)
            font-size: 2.4rem
            font-weight: bold
            text-decoration: none

            &:focus
                outline-color: var(--page-link)
        
        > a.hamburger
            color: var(--page-text)
            opacity: .75
            font-size: 2.4rem

            @include desktop
                display: none
    
    &.show
        .brand
            > a.hamburger
                opacity: 1
        
        nav
            display: block

    nav
        display: none

        @include desktop
            display: block

        > ul
            display: flex
            flex-flow: column nowrap
            align-items: flex-start
            column-gap: 2.6rem

            @include desktop
                flex-flow: row nowrap
                align-items: center

            > li
                > a
                    position: relative
                    text-decoration: none
                    color: var(--page-text)

                    &:focus
                        outline: none

                &.dropdown
                    --dropdown-colour: #{$grey}

                    position: relative

                    &.dropdown-green
                        --dropdown-colour: #{$green}
                        --dropdown-colour-subtle: #{lighten($green, 10%)}
                    
                    &.dropdown-blue
                        --dropdown-colour: #{$blue}
                        --dropdown-colour-subtle: #{lighten($blue, 10%)}
                    
                    &.dropdown-yellow
                        --dropdown-colour: #{darken($yellow, 5%)}
                        --dropdown-colour-subtle: #{lighten($yellow, 5%)}
                    
                    &.dropdown-orange
                        --dropdown-colour: #{$orange}
                        --dropdown-colour-subtle: #{lighten($orange, 10%)}
                    
                    &.dropdown-purple
                        --dropdown-colour: #{$purple}
                        --dropdown-colour-subtle: #{lighten($purple, 10%)}

                    > a::after
                        content: ""
                        display: inline-block
                        margin-left: .4rem
                        border: solid var(--page-text)
                        border-width: 0 2px 2px 0
                        opacity: .65
                        width: 7px
                        height: 7px
                        transform: rotate(45deg) translateY(-.25em)

                    > .dropdown-expandable
                        display: none
                        margin: .4rem 0 .8rem 0
                        border-left: 4px solid var(--dropdown-colour-subtle)
                        padding: 0 0 0 1.4rem

                        @include desktop
                            background: white
                            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1)
                            border-style: solid
                            border-width: 0 1px 4px 1px
                            border-color: $lighter-grey
                            border-bottom-color: var(--dropdown-colour)
                            padding: 1.2rem 2rem
                            position: absolute
                            left: 0
                            width: 190px
                            border-radius: $radius
                            transform: translateX(-10%)
                            margin-top: 1.4rem

                        > ul
                            max-width: $max-width
                            margin: 0 auto
                            display: flex
                            flex-flow: column nowrap
                            align-items: flex-start

                            > li
                                a
                                    color: var(--page-text)
                                    text-decoration: none

                                    @include desktop
                                        color: var(--dropdown-colour)

                                    &:focus
                                        outline-color: var(--dropdown-colour)
                                    
                                    i
                                        margin-right: .4rem
                                        max-width: 1.6rem
                                        opacity: .7
                                
                                &.label
                                    font-size: $font-tiny
                                    font-weight: bold
                                    text-transform: uppercase
                                    color: var(--page-text)

                                    @include desktop
                                        color: $grey

                                    &:first-child
                                        margin-top: .4rem

                                    &:not(:first-child)
                                        margin-top: 1.2rem

                    &.open
                        > a
                            &::after
                                opacity: 1

                            @include desktop
                                &::before
                                    $arrow-size: 8px

                                    content: ""
                                    display: block
                                    position: absolute
                                    width: 0
                                    height: 0
                                    margin-bottom: -1.5rem
                                    left: 38%
                                    bottom: 0
                                    z-index: 999
                                    border-left: $arrow-size solid transparent
                                    border-right: $arrow-size solid transparent
                                    border-bottom: $arrow-size solid white

                        > .dropdown-expandable
                            display: block

                &.nav-end
                    margin-top: 1.6rem

                    @include desktop
                        margin-top: 0
                        margin-left: auto

                    &.dropdown
                        @include desktop
                            > .dropdown-expandable
                                transform: translateX(-40%)

                                > ul
                                    align-items: flex-end

                                    > li a
                                        i
                                            left: 100%
                                            margin-left: 1rem