{% extends "cws2/form.jinja" %}

{% block breadcrumb_nav %}
{% endblock breadcrumb_nav %}

{% block page_actions %}
<a href="{{ url('register') }}" class="button button--orange"><i class="bx bx-user-plus"></i>Create account</a>
{% endblock page_actions %}
