{% extends "cws2/base.jinja" %}

{% block page_container %}
<main class="page">
    <div class="content">
        <header>
            <h2 class="content__heading content__heading--xl --centered">Welcome to <strong class="--blue">ConWorkShop</strong></h2>
        </header>
        <ul class="content__horizontal-list --centered --gap-below">
            <li>欢迎光临</li>
            <li>Vitáme vás</li>
            <li>Tikilluarit</li>
            <li>પધારો</li>
            <li>Benvenuto</li>
            <li>ようこそ</li>
            <li>Haere Mai</li>
            <li>환영합니다</li>
            <li>Добродошли</li>
            <li>ยินดีต้อนรับ</li>
        </ul>
        <h2 class="content__heading">What is CWS?</h2>
        <p><strong>CWS</strong>, or <strong>C</strong>on<strong>W</strong>ork<strong>S</strong>hop is a conlanging community and tools website started in early 2014 aimed at providing the tools and community to help you strive in your conlanging endeavours. We are a very eclectic group of people who are enthusiastic about conlangs and concultures. We have teenagers, students, professionals, and so on - everyone is welcome.</p>
        <p>It is <strong>completely free of charge</strong> and will always remain so. It is a community built by conlangers, for conlangers. We are always aiming to update our tools to give you the largest range of choices possible, and we have a very helpful staff team who will help us achieve that goal.</p>
        <p>CWS is largely geared towards conlangers with a working knowledge of language and linguistics, however we do invite everyone to join! We have a good base of members with an infinite wealth of knowledge, and we're here to help.</p>
        <hr>
        <h2 class="content__heading">What sort of things do you have/do?</h2>
        <p>Where do we start?! The site is broken up into three main sections: <strong class="--green">Languages</strong>, <strong class="--yellow">Tools</strong>, and <strong class="--blue">Community</strong> (and yes, they're colour-coded :D).</p>
        <h3 class="content__heading --green">Languages</h3>
        <p>The languages section is your centre of language creation. There's a highly detailed dictionary to store your lexicon, to search, edit, import and export your lexicon. There are grammar tables that automatically conjugate entries based on rules, there are phonologies, and orthographies, and more!</p>
        <h3 class="content__heading --yellow">Tools</h3>
        <p>The tools section contains everything from word generators, to word banks, to lexical field vocabulary sets (we call these 'LexiBuild'), our conlanger's Swadesh List, and much more!</p>
        <h3 class="content__heading --blue">Community</h3>
        <p>The community is where the people and languages come together. We have a bunch of clans for varied interests, active discussion boards with games, challenges, and month-long events, and more!</p>
    </div>
</main>
{% endblock page_container %}