{% extends "cws2/base.jinja" %}

{% block page_content %}
<p class="text-red">🚧 This page is under construction.</p>
<p>Contact us via email: <code><pre>conworkshop[at]gmail[dot]com</pre></code></p>
{% endblock page_content %}