<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% if page_title %}{{ page_title }} - {% endif %}ConWorkShop</title>
        <link rel="stylesheet" href="{{ static('css/base.css') }}" type="text/css">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body{% if theme %} data-theme="{{ theme }}"{% endif %} class="--{{ body_colour }}">
        <header class="header">
            <div class="header__wrapper">
                <div class="header__brand">
                    <a class="header__brand-link" href="/">conworkshop</a>
                    <a class="header__hamburger" href="#" aria-label="Toggle navigation menu"><i class="bx bx-menu"></i></a>
                </div>
                <nav class="header__nav">
                    <ul class="header__nav-list">
                        {% if request.user.is_authenticated %}
                            <li class="header__nav-item header__nav-item--has-dropdown header__nav-item--green" data-toggles="DropdownLanguages">
                                <a class="header__nav-link" href="#">
                                    <i class="bx bx-book"></i>
                                    <span class="header__nav-link-text">Languages</span>
                                </a>
                            </li>
                            <li class="header__nav-item header__nav-item--has-dropdown header__nav-item--yellow" data-toggles="DropdownTools">
                                <a class="header__nav-link" href="#">
                                    <i class="bx bx-box"></i>
                                    <span class="header__nav-link-text">Tools</span>
                                </a>
                            </li>
                            <li class="header__nav-item header__nav-item--has-dropdown header__nav-item--blue" data-toggles="DropdownCommunity">
                                <a class="header__nav-link" href="#">
                                    <i class="bx bx-chat"></i>
                                    <span class="header__nav-link-text">Community</span>
                                </a>
                            </li>
                            {% if request.user.is_staff %}
                                <li class="header__nav-item header__nav-item--has-dropdown header__nav-item--purple" data-toggles="DropdownAdmin">
                                    <a class="header__nav-link" href="#">
                                        <i class="bx bx-hard-hat"></i>
                                        <span class="header__nav-link-text">Admin</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="header__nav-item header__nav-item--pull-right">
                                {% include "cws2/components/theme_switcher.jinja" %}
                            </li>
                            <li class="header__nav-item header__nav-item--has-dropdown header__nav-item--orange" data-toggles="DropdownAccount">
                                <a class="header__nav-link" href="#">
                                    <i class="bx bx-user"></i>
                                    <span class="header__nav-link-text">{{ request.user.username }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="header__nav-item header__nav-item--blue">
                                <a class="header__nav-link" href="{{ url('about') }}">
                                    <i class="bx bx-leaf"></i>
                                    <span class="header__nav-link-text">About</span>
                                </a>
                            </li>
                            <li class="header__nav-item header__nav-item--pull-right">
                                {% include "cws2/components/theme_switcher.jinja" %}
                            </li>
                            <li class="header__nav-item header__nav-item--orange">
                                <a class="header__nav-link" href="{{ url('login') }}">
                                    <i class="bx bx-log-in"></i>
                                    <span class="header__nav-link-text header__nav-link-text--no-collapse">Log in</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="header__dropdown header__dropdown--green" id="DropdownLanguages">
                <div class="header__dropdown-wrapper">
                    <div class="header__dropdown-section">
                        <h3 class="header__dropdown-section-title">Language</h3>
                        <ul class="header__dropdown-list">
                            <li class="header__dropdown-item">
                                <a class="header__dropdown-link" href="{{ url('language.index') }}">
                                    <i class="bx bx-book"></i>
                                    My languages
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a class="header__dropdown-link" href="{{ url('language.new') }}">
                                    <i class="bx bx-plus"></i>
                                    New language
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__dropdown-section">
                        <h3 class="header__dropdown-section-title">Content</h3>
                        <ul class="header__dropdown-list">
                            <li class="header__dropdown-item">
                                <a href="#" class="header__dropdown-link">
                                    <i class="bx bx-file-blank"></i>
                                    Articles
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a href="{{ url('translation.index') }}" class="header__dropdown-link">
                                    <i class="bx bx-transfer"></i>
                                    Translations
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__dropdown header__dropdown--yellow" id="DropdownTools">
                <div class="header__dropdown-wrapper">
                    <div class="header__dropdown-section">
                        <h3 class="header__dropdown-section-title">Tools</h3>
                        <ul class="header__dropdown-list">
                            <li class="header__dropdown-item">
                                <a class="header__dropdown-link" href="#">
                                    <i class="bx bx-box"></i>
                                    Something
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a class="header__dropdown-link" href="#">
                                    <i class="bx bx-box"></i>
                                    Something
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a class="header__dropdown-link" href="#">
                                    <i class="bx bx-box"></i>
                                    Something
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__dropdown header__dropdown--blue" id="DropdownCommunity">
                <div class="header__dropdown-wrapper">
                    <div class="header__dropdown-section">
                        <h3 class="header__dropdown-section-title">Boards</h3>
                        <ul class="header__dropdown-list">
                            <li class="header__dropdown-item">
                                <a href="{{ url('board.index') }}" class="header__dropdown-link">
                                    <i class="bx bx-conversation"></i>
                                    Boards
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a href="" class="header__dropdown-link">
                                    <i class="bx bx-comment"></i>
                                    Recent posts
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__dropdown-section">
                        <h3 class="header__dropdown-section-title">Community</h3>
                        <ul class="header__dropdown-list">
                            <li class="header__dropdown-item">
                                <a href="{{ url('group.index') }}" class="header__dropdown-link">
                                    <i class="bx bx-group"></i>
                                    Groups
                                </a>
                            </li>
                            <li class="header__dropdown-item">
                                <a href="#" class="header__dropdown-link">
                                    <i class="bx bxs-user-detail"></i>
                                    Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="header__dropdown header__dropdown--orange" id="DropdownAccount">
                    <div class="header__dropdown-wrapper">
                        <div class="header__dropdown-section">
                            <h3 class="header__dropdown-section-title">Profile</h3>
                            <ul class="header__dropdown-list">
                                <li class="header__dropdown-item">
                                    <a href="{{ request.user.get_absolute_url() }}" class="header__dropdown-link">
                                        <i class="bx bx-user"></i>
                                        My profile
                                    </a>
                                </li>
                                <li class="header__dropdown-item">
                                    <a href="{{ url('user.edit') }}" class="header__dropdown-link">
                                        <i class="bx bx-user-pin"></i>
                                        Edit profile
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__dropdown-section">
                            <h3 class="header__dropdown-section-title">Messages</h3>
                            <ul class="header__dropdown-list">
                                <li class="header__dropdown-item">
                                    <a href="{{ url('message.index') }}" class="header__dropdown-link">
                                        <i class="bx bxs-inbox"></i>
                                        Inbox
                                    </a>
                                </li>
                                <li class="header__dropdown-item">
                                    <a href="#" class="header__dropdown-link">
                                        <i class="bx bx-message-add"></i>
                                        New message
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__dropdown-section">
                            <h3 class="header__dropdown-section-title">Actions</h3>
                            <ul class="header__dropdown-list">
                                <li class="header__dropdown-item">
                                    <a href="#" class="header__dropdown-link">
                                        <i class="bx bx-cog"></i>
                                        Settings
                                    </a>
                                </li>
                                <li class="header__dropdown-item">
                                    <form action="{{ url('logout') }}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="header__dropdown-link">
                                            <i class="bx bx-log-out"></i>
                                            Log out
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if request.user.is_staff %}
                <div class="header__dropdown header__dropdown--purple" id="DropdownAdmin">
                    <div class="header__dropdown-wrapper">
                        <div class="header__dropdown-section">
                            <h3 class="header__dropdown-section-title">Management</h3>
                            <ul class="header__dropdown-list">
                                <li class="header__dropdown-item">
                                    <a href="{{ url('admin:index') }}" class="header__dropdown-link">
                                        <i class="bx bx-wrench"></i>
                                        Django admin
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </header>
        {% block page_container %}
        <div class="page">
            <header class="page__header">
                <div class="page__header-icon">
                    {% block page_icon %}{% if page_icon %}<i class="bx {{ page_icon }}"></i>{% endif %}{% endblock page_icon %}
                </div>
                <h2 class="page__header-title">{% block page_title %}{{ page_title }}{% endblock page_title %}</h2>
                <div class="page__header-actions">{% block page_actions %}{% endblock page_actions %}</div>
                {% block breadcrumb_nav %}
                    <nav class="page__breadcrumb">
                        <ul class="page__breadcrumb-list">
                            {% block breadcrumb_links %}
                                <li class="page__breadcrumb-item"><a class="page__breadcrumb-link" href="/">Dashboard</a></li>
                                {% if breadcrumb %}
                                    {% for bc_url, bc_label in breadcrumb %}
                                        <li class="page__breadcrumb-item"><a class="page__breadcrumb-link" href="{{ bc_url }}">{{ bc_label }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endblock breadcrumb_links %}
                            {% block breadcrumb_current %}
                                {% if page_title %}<li class="page__breadcrumb-item page__breadcrumb-item--current" aria-current="page">{{ breadcrumb_current }}</li>{% endif %}
                            {% endblock breadcrumb_current %}
                        </ul>
                    </nav>
                {% endblock breadcrumb_nav %}
            </header>
            {% if messages %}
                <ul class="page__messages">
                    {% for message in messages %}
                        <li class="page__messages-message{% if message.tags %} page__messages-message--{{ message.tags }}{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <main class="page__container">
                {% block page_content %}
                {% endblock page_content %}
            </main>
        </div>
        {% endblock page_container %}
        <footer class="footer">
            <div class="footer__wrapper">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="{{ url('privacy') }}">Privacy Policy</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">Frequently Asked Questions</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">Community Rules</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">Statistics &amp; Graphs</a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="{{ url('donate') }}">Donate to us! (pls)</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="https://facebook.com/conworkshop">
                            <i class="bx bxl-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="https://twitter.com/_conworkshop">
                            <i class="bx bxl-twitter"></i>
                            X
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="https://www.youtube.com/channel/UCJMjntBcDJWrnwBXWot4HRQ">
                            <i class="bx bxl-youtube"></i>
                            YouTube
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="https://instagram.com/conworkshop/">
                            <i class="bx bxl-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="https://discord.gg/7W6GEJB">
                            <i class="bx bxl-discord-alt"></i>
                            Discord
                        </a>
                    </li>
                </ul>
                <div class="footer__copyright">
                    <div class="footer__copyright-notice">&copy; 2023 ConWorkShop</div>
                    <ul class="footer__copyright-list">
                        <li class="footer__copyright-list-item"><a class="footer__copyright-list-link" href="#">API</a></li>
                        <li class="footer__copyright-list-item"><a class="footer__copyright-list-link" href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{{ static('js/base.js') }}"></script>
    </body>
</html>
