{% extends "cws2/base.jinja" %}

{% block breadcrumb_links %}{% endblock breadcrumb_links %}

{% block breadcrumb_current %}<li aria-current="page">Dashboard</li>{% endblock breadcrumb_current %}

{% block page_title %}{% endblock page_title %}

{% block page_content %}
<p>This will be the dashboard one day! For now it's empty. Sorry.</p>
{% endblock page_content %}