{% extends "cws2/base.jinja" %}

{% block page_container %}
<main class="page">
    <p style="text-align:center">This will be the dashboard one day! For now, it's empty. Sorry.</p>
    <p style="text-align:center">Word on the street is you can still use the menu above to get around.</p>
</main>
{% endblock page_container %}
