@import "../globals";

body > .page {
  max-width: $max-width;
  margin-inline: auto;
  padding-block: 2.4rem;
  width: 100%;

  .page__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: .8rem;
    padding-inline: $gutter;

    @include desktop {
      padding-inline: 0;
    }

    .page__breadcrumb {
      grid-column: 2 / span 2;
      font-size: $font-small;
      padding-inline-start: .4rem;

      .page__breadcrumb-list {
        display: flex;
        align-items: center;

        .page__breadcrumb-item {
          color: var(--body-text-lighter);

          .page__breadcrumb-link {
            color: var(--body-text-lightest);
            display: inline-block;
          }

          &:not(:last-child)::after {
            content: "›";
            display: inline-block;
            margin-inline: .8rem;
          }
        }
      }
    }

    .page__header-icon {
      color: var(--accent);
      font-size: 2.4rem;
    }

    .page__header-title {
      font-size: 2.4rem;
      font-weight: $font-bold;
      color: var(--body-text-lightest);

      em {
        font-weight: $font-regular;
        font-style: italic;
      }
    }

    .page__header-actions {
      display: flex;
      align-items: center;
      column-gap: .8rem;
      grid-row: 3;
      grid-column: 2 / span 2;

      @include desktop {
        grid-column: unset;
        grid-row: unset;
      }

      > button, > a {
        margin-block-start: 1.2rem;

        @include desktop {
          margin-block-start: 0;
        }
      }
    }
  }

  .page__messages {
    display: flex;
    flex-flow: column nowrap;
    row-gap: .8rem;
    margin-block-start: 1.6rem;

    .page__messages-message {
      padding: .8rem 1.2rem;
      border-radius: $radius;

      &.page__messages-message--info {
        background: var(--blue-block-background);
        border: 1px solid var(--blue);
        color: var(--blue-block-text);
      }

      &.page__messages-message--error {
        background: var(--red-block-background);
        border: 1px solid var(--red);
        color: var(--red-block-text);
      }

      &.page__messages-message--success {
        background: var(--green-block-background);
        border: 1px solid var(--green);
        color: var(--green-block-text);
      }

      &.page__messages-message--warning {
        background: var(--yellow-block-background);
        border: 1px solid var(--yellow);
        color: var(--yellow-block-text);
      }
    }
  }

  .page__container {
    margin-block-start: 2rem;
  }
}
