{% extends "cws2/base.jinja" %}

{% block page_actions %}
<a href="{{ url('language.new') }}" class="button button--green">
    <i class="bx bx-book-add"></i>
    New language
</a>
{% endblock page_actions %}

{% block page_content %}
{% if languages %}
<ul class="flex-list">
    <li class="flex-list__row flex-list__row--header">
        <span class="flex-list__column" style="flex-basis:33%">Name</span>
        <span class="flex-list__column" style="flex-basis:33%">Identifier</span>
        <span class="flex-list__column" style="flex-basis:34%">Endonym</span>
    </li>
    {% for language in languages %}
        <li class="flex-list__row">
            <span class="flex-list__column" style="flex-basis:33%"><a href="{{ language.get_absolute_url() }}">{{ language.name }}</a></span>
            <span class="flex-list__column" style="flex-basis:33%">{{ language.slug }}</span>
            <span class="flex-list__column" style="flex-basis:34%">{% if language.endonym %}{{ language.endonym }}{% else %}—{% endif %}</span>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Uh oh. Seems like you haven't made a language yet. <a href="{{ url('language.new') }}">Create one here</a>.</p>
{% endif %}
{% endblock page_content %}
