{% extends "cws2/base.jinja" %}

{% block breadcrumb_current %}<li aria-current="page">Languages</li>{% endblock breadcrumb_current %}

{% block page_icon %}<i class="fa-solid fa-book"></i>{% endblock page_icon %}

{% block page_title %}My languages{% endblock page_title %}

{% block page_actions %}
<a href="{{ url('language.new') }}" class="button button-green">
    <i class="fa-solid fa-plus"></i>
    New language
</a>
{% endblock page_actions %}

{% block page_content %}
{% if languages %}
<ul>
    {% for language in languages %}
        <li><a href="{{ language.get_absolute_url() }}">{{ language.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Uh oh. Seems like you haven't made a language yet. <a href="{{ url('language.new') }}">Create one here</a>.</p>
{% endif %}
{% endblock page_content %}