{% extends "cws2/base.jinja" %}

{% block breadcrumb_links %}
{{ super() }}
<li class="page__breadcrumb-item"><a class="page__breadcrumb-link" href="{{ language.created_by.get_absolute_url() }}">@{{ language.created_by.username }}</a></li>
{% endblock breadcrumb_links %}

{% block breadcrumb_current %}<li class="page__breadcrumb-item page__breadcrumb-item--current" aria-current="page">{{ language.name }}</li>{% endblock breadcrumb_current %}

{% block page_icon %}{% if language.language_flag %}<img src="{{ language.language_flag.url }}" class="flag">{% else %}<i class="fa-solid fa-language"></i>{% endif %}{% endblock page_icon %}

{% block page_title %}{{ language.name }}{% endblock page_title %}

{% block page_actions %}
<a href="{{ url('word.index', user=language.created_by.username, language=language.slug) }}" class="button button-green">
    <i class="fa-solid fa-text"></i>
    {% trans %}Dictionary{% endtrans %}
</a>
{% if request.user.is_authenticated and language.check_user_permission(request.user, "write") %}
<a href="{{ url('language.edit', user=language.created_by.username, language=language.slug) }}" class="button button-green">
    <i class="fa-solid fa-pencil"></i>
    Edit language
</a>
{% endif %}
{% endblock page_actions %}

{% block page_content %}
<div class="content content--grid">
    <dl class="content__item">
        <dt>Type</dt>
        <dd>{{ language.get_language_type_display() }}</dd>
    </dl>
    <dl class="content__item">
        <dt>Status</dt>
        <dd>{{ language.get_language_status_display() }}</dd>
    </dl>
    <dl class="content__item content__item--wide">
        <dt>Description</dt>
        {% if language.description %}
            <dd><blockquote>{{ language.description }}</blockquote></dd>
        {% else %}
            <dd class="--subtle"><em>Not set.</em></dd>
        {% endif %}
    </dl>
</div>
{% endblock page_content %}