{% extends "cws2/base.jinja" %}

{% block breadcrumb_links %}
{{ super() }}
<li><a href="{{ language.created_by.get_absolute_url() }}">@{{ language.created_by.username }}</a></li>
{% endblock breadcrumb_links %}

{% block breadcrumb_current %}<li aria-current="page">{{ language.name }}</li>{% endblock breadcrumb_current %}

{% block page_icon %}<i class="fa-solid fa-language"></i>{% endblock page_icon %}

{% block page_title %}{{ language.name }}{% endblock page_title %}