<div class="theme-switcher" aria-label="Toggle dark mode" title="Toggle dark mode">
    <div class="theme-switcher__icon theme-switcher__icon-left"><i class="bx bx-sun"></i></div>
    <div class="theme-switcher__icon theme-switcher__icon-right"><i class="bx bx-moon"></i></div>
    <div class="theme-switcher__thumb">
        <div class="theme-switcher__thumb-left-icon"><i class="bx bx-sun"></i></div>
        <div class="theme-switcher__thumb-right-icon"><i class="bx bx-moon"></i></div>
    </div>
</div>